@charset "utf-8";a:hover,img{cursor:pointer}a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,ul,var,video{margin:0;padding:0;border:none;font:inherit;vertical-align:baseline}img,input,label,select{vertical-align:middle}input{outline:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1em;font-size:12px;margin:0;padding:0;font-family:Arial,"微软雅黑"}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body,html{height:100%}img{border:0;display:inline-block}b,em,i,span,strong,u{font-weight:400;text-decoration:none;font-style:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}.clear,.spacer{font-size:0;height:0;line-height:0}.clear{display:block!important;clear:both!important;float:none!important;margin:0!important;padding:0!important;overflow:hidden}.clearfix:after{content:"";display:block;clear:both;height:0}.fl,.fr{display:inline}.clearfix{zoom:1}.spacer{clear:both}.clear-left{clear:left}.clear-right{clear:right}a{color:#3c3c3c;text-decoration:none}a:hover{color:#f50}.fl{float:left}.fr{float:right}textarea{resize:none}.inp-oul-no{outline:none!important;}button{outline:none!important;}.bxz-bor{box-sizing: border-box}.posr{position:relative;}.posa{position:absolute}.cen-box{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;}.align-middle{vertical-align: middle}.align-center{text-align:center}.align-right{text-align:right;}.cur-pointer{cursor:pointer}.txt-over-ellipsis{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}.dis-none{display: none!important;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}input,textarea{outline: none;}

.index-wrap{
    padding-top: 6.4rem;
    width: 100%;
}
svg{
    vertical-align: middle;
}
.picker-mask .picker-head{
    background-color: #03A9F4;
}
.picker-mask .date-picker-days-bdy i:before{
    background-color: #03A9F4;
}
.picker-mask .date-picker-days-bdy .picker-now{
    color: #03A9F4;
}